<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restaurant SignUp</h1>
                    <h5>Get Free Membership</h5><hr>
                </div>
                <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                      <label  class="form-label">Name</label>
                      <input formControlName="name" placeholder="Enter Name here" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Mobile Number</label>
                        <input formControlName="mobile" placeholder="Enter mobile no here"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input formControlName="email" type="email" placeholder="Ex: email@gmail.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                    <div class="mb-3">
                      <label  class="form-label">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Signup</button>
                  </form>
                  <a routerLink="/login">Existing user? Click to Login!</a>
            </div>
        </div>
    </div>
</div>

